# Energy in Spain. 2016

Source of data: 

* ENERGIA 2016. Foro nuclear español. www.foronuclear.org
* Wikipedia

# Spain. Basic data

In [4]:
population = 46.56*(10**6)
print('Spanish population: ' + str(round(population,0)))
area = 505370
print('Total area: ' + str(round(area,2)) + ' km^2')
density = population/area
print('Density: ' + str(round(density,2)) + ' p/km^2')
aream2 = area*1000*1000
densitym2 = population/aream2
print('Density: ' + str(round(densitym2,2)) + ' p/m^2')
print('Density: ' + str(round(1/densitym2,2)) + ' m^2/p')

Spanish population: 46560000.0
Total area: 505370 km^2
Density: 92.13 p/km^2
Density: 0.0 p/m^2
Density: 10854.17 m^2/p

In [5]:
Eproduction=281.15
Ep_conventional=Eproduction*62.7/100.0
Ep_renewable=Eproduction*37.3/100.0

In [8]:
print('Energy production: ' + str(Eproduction) + ' TWh')
print('Energy production (conventional): ' + str(round(Ep_conventional,2)) + ' TWh')
print('Energy production (renewable): ' + str(round(Ep_renewable,2)) + ' TWh')

Energy production: 281.15 TWh
Energy production (conventional): 176.28 TWh
Energy production (renewable): 104.87 TWh

# Daily use of car

A typical one-day Spanish displacement is over 50 km

In [2]:
onedaydistance=50.0
litre2kwh=10.0
carconsumptionper100km=6.0

In [5]:
EnergyPerDay=onedaydistance*(carconsumptionper100km/100.0)*litre2kwh
print('Energy per day and person: ' + str(round(EnergyPerDay,2)) + ' kWh/day per person')

Energy per day and person: 30.0 kWh/day per person

# One intercontinental trip a year

One intercontinental trip in an Airbus A310-200

240 passengers. 55,200 litres of fuel. Range of 6,800 km

In [6]:
planeconsumptionper100km=100.0*55200/6800
print('Plane consumption per 100 km: ' + str(round(planeconsumptionper100km,2)) + ' litres')

Plane consumption per 100 km: 811.76 litres

A trip from Madrid to Los Angeles, CA has a distance equal to 9,366 km

In [8]:
distance=9366
passengers=240
personplaneconsumptionper100km = planeconsumptionper100km/passengers
EnergytripMLA = 9366*(personplaneconsumptionper100km/100.0)*litre2kwh
print('Energy consumption in a trip from Madrid to Los Angeles, CA: ' + str(round(EnergytripMLA,2)) + ' kWh')

Energy consumption in a trip from Madrid to Los Angeles, CA: 3167.91 kWh

If a person performs one trip a year

In [9]:
EnergytripMLAperday = EnergytripMLA / 365.0
print('Energy consumption per day and person: ' + str(round(EnergytripMLAperday,2)) + ' kWh/day')

Energy consumption per day and person: 8.68 kWh/day

# The "energy cost" of one shower

One shower

hot water: 4,200  per litre per ºC

In [10]:
oneshowerlitres=35.0
calorieslitredegree=4200.0
j2kwh=1/(1000.0*3600.0)
Tamb=10.0
Thot=40.0
EnergyOneShower = calorieslitredegree*oneshowerlitres*(Thot-Tamb)*j2kwh
print('Energy demanded in one shower: ' + str(round(EnergyOneShower,2)), ' kWh')

Energy demanded in one shower: 1.22  kWh

# The "energy cost" of a cup of tea

One kettle

In [9]:
Pn=1.65
timecup=2
Numbercups=5
EnergyOneCup=Pn*(timecup/60.0)*Numbercups
print('Energy one cup of tea: ' + str(round(EnergyOneCup,2)) + ' kWh')

Energy one cup of tea: 0.27 kWh